<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div *ngIf="loading" class="text-center">
            <h1>Loading</h1>
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div *ngIf="!loading" class="ae-masonry ae-masonry-md-3 ae-masonry-x1-3">
            <a *ngFor="let prod of productos" [routerLink]="['/item', prod.cod]" class="rk-item ae-masonry__item">
                <img src="assets/productos/{{prod.url}}.jpg" alt="">
                <div class="item-meta">
                    <h2>{{prod.titulo}}</h2>
                    <p>{{prod.categoria}}</p>
                </div>
            </a>
        </div>
    </section>
</section>